@model testSale.Models.user

@{
    ViewBag.Title = "Delete";
}
<div class="bg-success">
    <div class="bg-success text-danger">
        <h2>Delete User</h2>

        <h3>Are you sure you want to delete this?</h3>
    </div>

    <div>
        <hr />

        <dl class="dl-horizontal table-bordered bg-success">
            <dt>
                First Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.first_name)
            </dd>

            <dt>
                Last Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.last_name)
            </dd>

            <dt>
                Email
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                Phone Number
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phone)
            </dd>

            <dt>
                Username
            </dt>

            <dd>
                @Html.DisplayFor(model => model.username)
            </dd>

            <dt>
                Password
            </dt>

            <dd>
                @Html.DisplayFor(model => model.password)
            </dd>

            <dt>
                User Role
            </dt>

            <dd>
                @Html.DisplayFor(model => model.user_role)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-defaul btn-danger " /> |
                @Html.ActionLink("Back to List", "UserView")
            </div>
        }
    </div>
</div>
